.user {
    display: grid;
    grid-template-areas: 'profile information' ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    border: 3px solid rgba(0, 191, 255);
    border-radius: 10px;
    margin: .7em auto;
    width: 60%;
    padding: 1em;
}

.user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile_photo {
    text-align: right;
    grid-area: profile;
}

.profile_information {
    padding: 1em 0 1em;
    grid-area: information;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.profile_information span {

}
.profile_information button {
    margin-top: 5px;
    width: 50%;
}

.follow_button {
    color: white;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    background: rgba(0, 191, 255);
    transition: all .5s;
}

.follow_button:hover {
    transform: scale(1.1);
}

.unfollow_button {
    color : rgba(0, 191, 255);
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    background: rgba(0, 191, 255, .15);
    transition: all .5s;
}

.unfollow_button:hover {
    transform: scale(1.1);
}