.description {
    margin: 10px 0;
    color: deepskyblue;
}

.description b {
    color: lightslategray;
}

.description img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    margin-bottom: 20px;
}

.main_information {
    display: flex;
    flex-direction: row;
}

.photo_and_load {
    flex: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.photo_and_load input {
    display: none;
}

.photo_and_load label {
    color: white;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    background: deepskyblue;
    transition: all .5s;
    margin-top: .5em;
    outline: none;
}

.photo_and_load label:hover {
    background: lightslategray;
}

.profileBox {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.contacts {
    text-align: center;
}

.contacts b {
    color: black;
}

.profileBox ul {
    margin-top: initial;
    padding-left: initial;
}

.profileBox button {
    display: block;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border-width: 0px;
    background: deepskyblue;
    transition: all .5s;
    margin-top: .5em;
    outline: none;
}

.profileBox button:hover {
    background: lightslategray;
}

.profileBox li {
    list-style: none;
}

.profileBox span, .profileBox li {
    margin-top: .5em;
}

.profileBox .contacts {
    margin-top: .5em;
}

.profileBox > div {
    text-align: center;
    margin-bottom: .7em;
}

.profileBox div:first-child > b {
    color: black;
    display: block;
}

.userInfo {
    flex: 3;
    display: flex;
    flex-direction: row;
}

.line {
    border-left: 3px solid lightslategray;
    border-radius: 5px;
}

.status_and_info {
    flex: 2;
    padding-left: 20px;
}
