.friend {
    display: flex;
    margin-bottom: 1em;
    margin-left: 2em;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 1em;
    }

    span {
        align-self: center;
    }
}
