:root {
    font-size: .875em;
}

.page_content_wrapper {
    padding: 75px 0 0;
    width: calc(100vw - 20%);
    display: grid;
    grid-template-areas:
                        "aside main";
    grid-template-columns: 2fr 10fr;
    grid-template-rows:  1fr;
    grid-gap: 10px;
    margin: 0 auto;
}

@media (min-width: 1650px) {
    .page_content_wrapper {
        width: 1600px;
    }
}

body {
    background: rgba(0, 191, 255, .15);
}

.content_wrapper {
    grid-area: main;
    background-color: white;
    border-radius: 10px;
    padding: 2em;
}

.content_wrapper img {
    width: 100%;
    height: 500px;
}
